extends layout

block content
    p
    | See the interesting YouTube videos, pictures, and more!
    | So just explore around here and you might find some stuff interesting to you.
    | Of course, the books haven't came out yet, but I'm still working on it, even though I'm still on the first page :P
    | If you want to see the vids at first, before they're even on YouTube, see them here. And, I'd appreciate if you people could follow me on Google+ and subscribe on YouTube. Ok, thx for opening!
