extends layout

block content
    p List of the characters living here
    ul
        each item in images
            li
                img(src="images/#{item}", width=256                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  )
        //li
        //    img(src="images/anime-western.png")